{% extends 'shopapp/base.html' %}

{% block title %}
    Create order
{% endblock %}

{% block body %}
    <h1>Create a new order</h1>
    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Create order</button>
        </form>
    </div>

    <div>
        <br>
        <a href="{% url 'shopapp:products_list' %}">Products list</a>
    </div>

    <div>
        <br>
        <a href="{% url 'shopapp:orders_list' %}">Orders list</a>
    </div>

{% endblock %}