{% extends 'shopapp/base.html' %}

{% block title %}
    Update order
{% endblock %}

{% block body %}
    <h1>Update order</h1>
    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Update order</button>
        </form>
    </div>

    <div>
        <br>
        <a href="{% url 'shopapp:order_details' pk=object.pk %}"
        >Back to order #{{ object.pk }}</a>
    </div>

{% endblock %}