{% extends 'shopapp/base.html' %}

{% block title %}
    Product #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>Product <strong>{{ product.name }}</strong></h1>
    <div>
        <div>Description: <em>{{ product.description }}</em></div>
        <div>Price: {{ product.price }}</div>
        <div>Discount: {{ product.discount }}</div>
        <div>Archived: {{ product.archived }}</div>
        <p>Created by: {% firstof product.create_by 'There is no author' %}</p>

        {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">

        {% endif %}

        <h3>Images:</h3>
        <div>
            {% for img in product.images.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                </div>
                <div>
                    {{ img.description }}
                </div>
            {% empty %}
                <div>No images uploaded yet</div>
            {% endfor %}
        </div>
    </div>

    <div>
        <br>
        {% if user.is_superuser or perms.shopapp.change_product and product.create_by == user %}

            <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>

        {% endif %}
    </div>
    <div>
        <br>
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}">Archived product</a>
    </div>
    <div>
        <br>
        <a href="{% url 'shopapp:products_list' %}">Back products list</a>
    </div>
{% endblock %}
