{% extends 'shopapp/base.html' %}

{% block title %}
    Products list
{% endblock %}

{% block body %}
    <h1>Products:</h1>
    {% if products %}
        <div>
            {% for product in products %}
                <div>
                    <p><a href="{% url "shopapp:products_details" pk=product.pk %}"
                    >Name: {{ product.name }}</a></p>
                    <p>Price: {{ product.price }}</p>
                    <p>Discount: {% firstof product.discount 'no discount' %}</p>
                    <p>Created by: {% firstof product.create_by 'There is no author' %}</p>

                    {% if product.preview %}
                        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">

                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No products yet</h3>
    {% endif %}

    <div>
        <br>
        {% if perms.shopapp.add_product %}

            <a href="{% url 'shopapp:product_create' %}">Create a new product</a>

        {% endif %}
    </div>

    <div>
        <br>
        <a href="{% url 'shopapp:order_create' %}">Create order</a>
    </div>

{% endblock %}
