{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User info</h1>
    <div>
        Products available: {% now 'u' %}
    </div>
    {% if user.is_authenticated %}
        {% cache 300 userinfo user.username %}
            <h2>Detail</h2>

            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.profile.profile_picture.name }}">
            {% else %}
                <p>No profile photo</p>
            {% endif %}

            <p>Username: {{ user.username }}</p>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Bio: {{ user.profile.bio }}</p>
        {% endcache %}
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}

    <div>
        <br>
        {% if request.user.is_staff or request.user.pk == user.profile.user_id %}

            <a href="{% url 'myauth:user_update' pk=user.profile.pk %}">Update profile</a>

        {% endif %}
    </div>

    <div>
        <br>
        <a href="{% url 'myauth:users-list' %}">Back users list</a>
    </div>
{% endblock %}