{% extends 'myauth/base.html' %}

{% block title %}
    Update user profile
{% endblock %}

{% block body %}
    <h1>Update user profile:</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Update</button>
        </form>
    </div>

    <div>
        <br>
        <a href="{% url 'myauth:about-me' pk=profile.user_id %}"
        >Back to user </a>
    </div>

{% endblock %}