{% extends 'myauth/base.html' %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <h1>Users:</h1>
    {% if users %}
        <div>
            {% for user in users %}
                <div>
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}"
                             alt="{{ user.profile.profile_picture.name }}">
                    {% else %}
                        <p>No profile photo</p>
                    {% endif %}
                </div>
                <div>
                    <p><a href="{% url 'myauth:about-me' pk=user.pk %}"
                    >Name: {{ user.username }}</a></p>
                </div>

            {% endfor %}

        </div>

    {% endif %}

{% endblock %}