{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Our translation page title.' %}</title>
</head>
<body>
<p>{% trans 'Translated text.' %}</p>

{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for 'ja' as lang %}
Language code: {{ lang.code }}<br>
Name of language: {{ lang.name_local }}<br>
Name in English: {{ lang.name }}<br>
Bi-directional: {{ lang.bidi }}<br>
Name in the active language: {{ lang.name_translated }}


{% language 'en' %}
    <!-- Current language: {{ lang }} -->
    <p>{% trans 'Welcome to our page' %}</p>
{% endlanguage %}


<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

</body>
</html>