{% extends 'requestdataapp/base.html' %}

{% block title %}
    Error request
{% endblock %}

{% block body %}
    <h1>Request error!</h1>
    <br>
    <h2>You make the request too often, try again later</h2>
{% endblock %}
